*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #f9f9f9;
}

.product-page-container {
    max-width: 1100px;
    width: 90%;
    margin: 30px auto;
}
.link-route {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: #999999;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.link-route a{
    font-size: 0.9rem;
    color: #992153;
    margin: 0px 8px;
}
.link-route a:nth-child(1){
    margin-left: 0px;
}
#product-page{
    background-color: #ffffff;
    padding: 30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}
.product-page-img{
    border: 1px solid #f1f1f1;
    margin-right: 30px;
    padding: 0px;
}
.product-page-img iframe{
    width: 100%;
    height: 350px;
    border: none;
}
.product-page-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-page-details strong{
    color: #333333;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.product-page-details .product-category{
    font-size: 0.9rem;
    color: #535353;
    font-weight: 400;
}
.product-page-details .price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product-page-details .price del{
    color: #992153;
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 8px;
}
.product-page-details .small-description{
    color: #4b4b4b;
    font-size: 0.9rem;
    background-color: #fcfcfc;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #f7f7f7;
}
.product-options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.product-options span{
    font-size: 1rem;
    color: #1f1f1f;
    font-weight: 600;
    margin-right: 7px;
}
.product-color-options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.product-color-box{
    margin-right: 5px;
    margin-top: 5px;
}
.product-color-box label{
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.product-color-box label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.product-color-box input[type="checkbox"]{
    display: none;
}
.product-color-box input[type="checkbox"]:checked ~ label
{
    border: 2px solid #992153;
    padding: 2px;
}
.product-page-details .product-offer{
    color: #ffffff;
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #ec1111;
    margin-top: 10px;
}
.product-page-details .product-offer i{
    margin-right: 5px;
}
.cart-btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cart-btns .add-cart{
    background-color: #333333;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.cart-btns .buy-now{
    background-color: #c50d0d;
    margin-right: 0px;
}
.product-page-details .price-shipping{
    margin-top: auto;
}
.product-page-details .price-shipping span{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #f41010;
    font-weight: 500;
}
.comments-container {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
a {
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comment p{
    font-size: 0.9rem;
    color: #4b4b4b;

}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 150px;
    height: 40px;
}
.rating > input{
     display:none;
}
.rating > label {
    position: relative;
    width: 1.1em;
    font-size: 2.5vw;
    color: #FFD700;
    cursor: pointer;
}
.rating > label::before{
    content: “\2605”;
    position: absolute;
    opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}
.rating > input:checked ~ label:before{
    opacity:1;
}
.rating:hover > input:checked ~ label:before{
    opacity: 0.4;
}