.sp {
	padding: 4px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #ccc;
}
.sp:hover {
	cursor: pointer;
	box-shadow: 3px 3px 3px 3px #ccc;
}

.anhSp {
	display: block;
	height: 180px;
	width: 100%;
}
.thong_tin {
	padding: 4px;
}

.sp__cost {
	font-weight: 500;
	font-size: 18px;
}

.description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
<<<<<<< HEAD
	font-size: 1.4rem;
=======
	font-size: 14px;
>>>>>>> a83f9c5a3bdc026c3d8ea7b98dbf32959904e62a
}

.rate {
	display: inline-block;
	margin-left: 8px;
}
<<<<<<< HEAD

@media (max-width: 767px) {
	.anhSp {
		height: 300px;
	}
}
=======
>>>>>>> a83f9c5a3bdc026c3d8ea7b98dbf32959904e62a
