<div class="testimonial-box">
    <div class="box-top">
        <div class="profile">
            <div class="profile-image">
                <img src="#"/>
            </div>
            <div class="name-user">
                <strong>Me</strong>
                <span>@me</span>
            </div>
        </div>
        <div class="reviews">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</div>