:root{
  --primary-color: #fcfcfc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: black;
}
body{
  padding: 4px;

}
.header{
  
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 1px 2px 2px rgba(0, 0,0,0.2);
  background-color: var(--primary-color);
}

.header__logo{
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
  cursor: pointer;

}
.header__name{
  margin-left: 4px;
  font-size: 2.2rem;
  color: rgb(92, 92, 229);
}
.header__logo img{
  border-radius: 50%;
  height: 100%;
}

.header__search{
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  padding: 8px;
}
.header__search__input{
  outline: none;
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  background-color: transparent;
}
.header__search__icon{
  font-size: 14px;
}

.header__navigation{
  font-size: 1.8rem;
  color: rgb(86, 76, 76);
}
.header__navigation a {
  padding: 0 0.8rem;


}
.header__navigation a:hover{
  color: rgb(240, 64, 64);
}
.header__icons{
  font-size: 3rem;
}
.header__cart{
  
  cursor: pointer;
  color:rgb(86, 76, 76);
  position: relative;
}

.header__cart__amount{
  position: absolute;
  top: -8px;
  right: -1px;
  background: rgb(202, 82, 82);
  border-radius: 50%;
  padding: 3px;
  color: white;
  font-size: 1.4rem;
}

.header__user{
  position: relative;
}
.header__user:hover .header__user__menu{
  display: flex;
}
.header__user__menu{
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  background: rgb(237, 235, 235);
  /* padding: 6px; */
  box-shadow: 1px 1px 1px rgba(0, 0,0,0.2);
  color: white;
  border-radius: 4px;
  font-size: 1.4rem;
  z-index: 99;
}
.header__user__menu a {
  padding: 6px 8px;
  color: #3b3838;
}
.header__user__menu a:hover{
  background: rgb(232, 162, 162);
}